---
layout: default
title: lim lab / home

---

<h1 class="welcome">Welcome</h1>

<style>
  .welcome {
    margin-top: -10px;
    margin-bottom: 50px;
  }
</style>


<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
			<p style="font-size:18px; margin-top: -35px;">
				The Lim Lab is a bioinformatics group that investigates how environmental pollutants shape the
				genomics, transcriptomics and epigenomics of cells to transform normal
				tissues into disease states.
			</p>
			<style>
				div {
					max-width: 1100px;
					margin-left: auto;
					margin-right: auto;
				}
			</style>
			<p style="font-size:18px;">
				Environmental exposures have been associated with the incidence of
				age-related illnesses such as cancer, cardiovascular disease, impaired
				cognitive function, metabolic dysregulation. However, how most
				environmental exposures, such as pollution, contribute to disease is
				still unclear.
			</p>
			<p style="font-size:18px;">
				We utilize a multi-omic approach to study samples from cancer patients
				and from individuals who have been exposed to pollution.
			</p>
			<img src="{{ '/images/UBC-home-page.png' | relative_url }}" class="imgMain" height="255" width="700" />
			<p style="font-size:18px;">
				Our lab is part of the <a href="https://biochem.ubc.ca" class="homepage_link">Department of Biochemistry and
					Molecular Biology</a> and the <a href="https://healthyaging.med.ubc.ca/" class="homepage_link">Edwin S.H.
					Leong Centre for Healthy Aging</a>. We are located within the <a href="https://meg.lsi.ubc.ca/"
					class="homepage_link">Life Sciences Institute</a> at the University of British Columbia, and are affiliated
				with <a href="https://www.bcgsc.ca/" class="homepage_link">Canada's Michael Smith Genome Sciences Centre</a>.
			</p>
			<style>
				.homepage_link {
					text-decoration: none;
					color: #004492;
				}

				.homepage_link:hover {
					text-decoration: underline;
					text-decoration-color: #4d88cd;
					color: #4d88cd;
				}
			</style>

		</div>
	</div>

	<footer>

		<a class="off" href="https://healthyaging.med.ubc.ca/">
			<img class="img_aging" width=57 height="62" src="{{ '/images/logos/logo_health_aging.png' | relative_url }}">
		</a>
		<a class="off" href="https://biochem.ubc.ca/">
			<img class="img_biochem" width="57" height="62" src="{{ '/images/logos/logo_biochem.png' | relative_url }}">
		</a>
		<a class="off" href="https://meg.lsi.ubc.ca/">
			<img class="img_meg" width="140" height="62" src="{{ '/images/logos/logo_meg.png' | relative_url }}">
		</a>
		&nbsp; &nbsp; &nbsp; &nbsp;
		<a class="off" href="https://www.ubc.ca">
			<img class="img_ubc" width=350 src="{{ '/images/logos/logo_ubc.png' | relative_url }}">
		</a>
	</footer>
</div>

<style>

	.imgMain {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

  .back {
    float: right;
    margin-bottom: 15px;
    text-decoration: none;
    color: #6699d4;
  }

  .back:hover {
    text-decoration: none;
    color: #004492;
  }

  ul {
    list-style-type: none;
  }
</style>


